<mat-card> 
    <div style="text-align:center;">
        <mat-card-title>Modifikar Chofer</mat-card-title>
    </div>   
    <br>
    <form>
        <div class="elementos">
            <mat-form-field class="campos-field">
                <input matInput placeholder="Cedula" formControlName="ci">
            </mat-form-field>
    
            <mat-form-field class="campos-field">
                <input matInput placeholder="Disponibilidad" formControlName="disponibilidad">
            </mat-form-field>
        </div>
        
        <div class="elementos">
            <mat-form-field class="campos-field">
                <input matInput placeholder="Nombres" formControlName="nombre">
            </mat-form-field>
    
            <mat-form-field class="campos-field">
                <input matInput placeholder="Apellidos" formControlName="apellido">
            </mat-form-field>
        </div>

        <div class="botones">
            <div class="acciones">
                <button >Modificar</button> 
            </div>
            <div class="acciones">
                <button >Cancelar</button> 
            </div>
              
        </div>
           
    </form>
    
</mat-card>
