<mat-dialog-content>
    <div class="contenedor">
        <mat-card> 
            <div style="text-align:center;">
                <mat-card-title>Modificar Pedido</mat-card-title>
            </div>   
            <br>
            <form [formGroup]="pedidoModificar">
                <div class="elementos">
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Id" formControlName="id">
                    </mat-form-field>
                </div>
                
                <div class="elementos">                  
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Cliente" formControlName="cliente">
                    </mat-form-field>
                </div>
                
                <div class="elementos">
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Costo" formControlName="costo">
                    </mat-form-field>
                </div>

                <div class="elementos">
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Estado" formControlName="estado">
                    </mat-form-field>
                </div>

                <button mat-raised-button [disabled] = "!pedidoModificar.valid" (click)="onSubmit(pedidoModificar.value.id!, pedidoModificar.value.cliente!, pedidoModificar.value.costo!, pedidoModificar.value.estado!)">Modificar</button>
                <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>      
            </form>
        </mat-card>
    </div>
    
</mat-dialog-content>
