<div class="container">
        <div color="primary" mat-dialog-content id="title"> <h1>Registar usuario</h1></div>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Usuario" formControlName="usuario">
            </mat-form-field>

            <mat-form-field class="campos-field">
                <input matInputc placeholder="Contraseña" formControlName="password">
            </mat-form-field>

            <mat-form-field class="campos-field">
                <input matInput placeholder="Confirmar contraseña" formControlName="password">
            </mat-form-field>

    <div mat-dialog-actions>
        <button (click)="openDialog()">Registrar</button>
    </div>

</div>