.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}

#title{
    color: black;
    font-weight: bold;
}

button{
    cursor: pointer;
}