<mat-toolbar class="nav" color="primary" >
    <div class="imglogin">
      <a (click)="Inicio()">
        <mat-icon> directions_bus</mat-icon>
        <span>Camioncitos</span>
      </a>
    </div>
    <div>
      <a (click)="Inicio()" *ngIf="dataService.lvl===1">
        <span>Secretarias</span>
      </a>
      <a (click)="Inicio()" *ngIf="dataService.lvl===3">
        <span>Administradores</span>
      </a>
      <a (click)="Inicio()" *ngIf="dataService.lvl===3 || dataService.lvl===2">
        <span>Choferes</span>
      </a>
      <a (click)="Inicio()" *ngIf="dataService.lvl===3 || dataService.lvl===2">
        <span>Vehiculos</span>
      </a>
      <a (click)="Inicio()" *ngIf="dataService.lvl===3 || dataService.lvl===2">
         <span>Pedidos</span>
      </a>
      <a (click)="Inicio()" *ngIf="dataService.lvl===1">
        <span>Pedidos Pendientes</span>
      </a>
    </div>
    <div class="links">
      <nav>
        <button *ngIf="dataService.lvl===0" mat-raised-button color="primary" (click)="btnIniciarSesion()">Iniciar Sesion</button>
        <button *ngIf="dataService.lvl != 0"mat-raised-button color="primary" (click)="CerrarSesion()">Cerrar Sesion</button>
      </nav>
    </div>
</mat-toolbar>
