<div class="contenedor">
  <div class="tabla">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- cedula Column -->
      <ng-container matColumnDef="ci">
        <th mat-header-cell *matHeaderCellDef> Ci. </th>
        <td mat-cell *matCellDef="let element"> {{element.ci}} </td>
      </ng-container>
    
      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    
      <!-- apellido Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>
    
      <!-- disponibilidad Column -->
      <ng-container matColumnDef="disponibilidad">
        <th mat-header-cell *matHeaderCellDef> Disponibilidad </th>
        <td mat-cell *matCellDef="let element"> {{element.disponibilidad}} </td>
      </ng-container>
  
      <!-- Botón Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          
          <div class="acciones">
            <div class="modificar">
              <button (click)="openDialog()" mat-raised-button color="primary" mat-button >Modificar</button>
            </div>
            <div class="eliminar">
              <button  mat-raised-button color="primary" mat-button >Eliminar</button>
            </div>    
          </div>
          
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="boton">
    <button  (click)="openDialog()" mat-raised-button color="primary">Nuevo</button>
  </div>

</div>




  
  
