<mat-dialog-content>
    <mat-card> 
        <div style="text-align:center;">
            <mat-card-title>Modificar Secretaria</mat-card-title>
        </div>   
        <br>
        <form [formGroup]="secretariaModificar">
            <mat-form-field class="campos-field">
                <input matInput placeholder="Cedula" formControlName="cedula">
            </mat-form-field>
    
            <mat-form-field class="campos-field">
                <input matInput placeholder="Nombres" formControlName="nombres">
            </mat-form-field>
    
            <mat-form-field class="campos-field">
                <input matInput placeholder="Apellidos" formControlName="apellidos">
            </mat-form-field>
    
    
            <button mat-raised-button [disabled] = "!secretariaModificar.valid" (click)="onSubmit(secretariaModificar.value.cedula!, secretariaModificar.value.nombres!, secretariaModificar.value.apellidos!)">Modificar</button>
            <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>      
        </form>
    </mat-card>
</mat-dialog-content>