<mat-dialog-content>
    <div class="contenedor">
        <mat-card> 
            <div style="text-align:center;">
                <mat-card-title>Modificar Admin</mat-card-title>
            </div>   
            <br>
            <form [formGroup]="adminModificar">
                <div class="elementos">
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Cedula" formControlName="cedula">
                    </mat-form-field>
                </div>
                
                <div class="elementos">
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Nombres" formControlName="nombres">
                    </mat-form-field>
                </div>

                <div class="elementos">
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Apellidos" formControlName="apellidos">
                    </mat-form-field>
                </div>

                <button mat-raised-button [disabled] = "!adminModificar.valid" (click)="onSubmit(adminModificar.value.cedula!, adminModificar.value.nombres!, adminModificar.value.apellidos!)">Modificar</button>
                <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>      
            </form>
        </mat-card>
    </div>
   
</mat-dialog-content>

