<mat-card> 
    <div class="contenedor">
        <div style="text-align:center;">
            <mat-card-title>Nuevo Vehiculo</mat-card-title>
        </div>   
        <br>
        <form [formGroup]="vehiculoNuevo">
            <div class="elementos">
                <mat-form-field class="campos-field">
                    <input matInput placeholder="Matricula" formControlName="matricula">
                </mat-form-field>
            </div>
            
            <div class="elementos">
                <mat-form-field class="campos-field">
                    <input matInput placeholder="Marca" formControlName="marca">
                </mat-form-field>
            </div>

            <div class="elementos">
                <mat-form-field class="campos-field">
                    <input matInput placeholder="Disponibilidad" formControlName="disponibilidad">
                </mat-form-field>
            </div>
            
            <div class="elementos">
                <mat-form-field class="campos-field">
                    <input matInput placeholder="Tipo" formControlName="tipo">
                </mat-form-field>
            </div>

            <div class="botones">
                <div class="acciones">
                    <button mat-raised-button [disabled] = "!vehiculoNuevo.valid" (click)="onSubmit()">Aceptar</button> 
                </div>
                <div class="acciones">
                    <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button> 
                </div>
                  
            </div>
               
        </form>
        
    </div>
   
</mat-card>
