
<body>
    <div class="Container" id="MainContainer" >
        <main id="Main">
            <mat-progress-bar color="accent" mode="determinate" value="60"></mat-progress-bar>
            
            <div class="info">
                <div id="infotext">
                    <img class="infoImg" src="https://i.pinimg.com/564x/40/ba/3d/40ba3d848cd244f8566f7673db0b3d32.jpg" alt="Información referende a la sublimación/estampados" style="width: 350px">                        
                </div>
                <div class="infotext">
                    <h1>Camioncitos</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint corporis tenetur 
                        blanditiis ipsa earum distinctio quaerat modi explicabo aliquam voluptatem nesciunt, 
                        fugiat voluptate accusamus exercitationem. A quidem pariatur expedita vitae.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint corporis tenetur 
                         blanditiis ipsa earum distinctio quaerat modi explicabo aliquam voluptatem nesciunt, 
                        fugiat voluptate accusamus exercitationem. A quidem pariatur expedita vitae.</p>
                </div>
            </div>

            <h2>Nuestra Flota</h2>
            <div class="grids">
                <mat-grid-list cols="4" rowHeight="100px">
                    <mat-grid-tile id="grid1" rowspan="2.5" colspan="2">
                    </mat-grid-tile>
    
                    <mat-grid-tile id="grid2" rowspan="2" colspan="2">
                    </mat-grid-tile>
    
                    <mat-grid-tile id="grid3">
                    </mat-grid-tile>
    
                    <mat-grid-tile id="grid4">
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <!-- <div class="slider">
                <h2 class="Titulos">Bienvenido a Camioncitos</h2>
                <ul>
                    <li>
                        <img src="https://i.pinimg.com/564x/11/52/bc/1152bca520551dab25006a3af286fd29.jpg" alt="Entrega de encomiendas">
                        <img src="https://i.pinimg.com/564x/b1/02/5a/b1025acb9d72a9551592b747da4ba8da.jpg" alt="Envios internacionales">
                        <img src="https://i.pinimg.com/564x/3d/ee/b1/3deeb1a98ae328d6efaca21f8d25a428.jpg" alt="Importacions/exportaciones">
                        <img src="https://i.pinimg.com/564x/15/7b/df/157bdf8dc84a7eb65fcc5fa5376dc8fc.jpg" alt="Flota">
                    </li>
                </ul>
            </div>        -->

        </main>
    </div> 
</body>
