<div class="body">
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>Camioncitos</h1>
          <p>Somos la mejor empresa de mensajeria y courrier del país</p>
        </div>
      </div>
      
      
        <div class="right">
        <p>¿No tienes una cuenta? <button (click)="openDialog()">Crea una</button> solo te tomará unos segundos</p>
        <div class="inputs">
          <input type="text" placeholder="Usuario">
          <br>
          <input type="password" placeholder="Contraseña">
        </div>
          
          <br><br>
          
        <div class="remember-me--forget-password">
          <mat-checkbox id="z" ></mat-checkbox> 
            <label>Recordar usuario</label>    
            <label>¿Olvidaste la contraseña?</label>
        </div>   
          <br>
          <button>Login</button>
      </div>
      
    </div>
  </div>