<div class="body">
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>Camioncitos</h1>
          <p>Somos la mejor empresa de mensajeria y courrier del país</p>
        </div>
      </div>
      
        <div class="right">
        
        
        <form [formGroup]="usuarioLogin" (ngSubmit)="onSubmit()">
          <div class="contenedorIngreso">
            <div class="ingreso">
              <mat-form-field class="campos-field">
                <input matInput placeholder="Usuario" formControlName="usuario">
              </mat-form-field>
            </div>
  
            <div class="ingreso">
              <mat-form-field class="campos-field">
                <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            </div>
          </div>
        </form>
          <br><br>
          
        
          <br>
          <button (click)="onSubmit()">Login</button>
      </div>
      <!-- <app-header> </app-header>  -->
    </div>
  </div>